    <style>
    /*
    To refresh your memory, css structure is the selector (before the {} brackets) and
    the delcaration (in the {} brackets).  See 4:45 in F2.3.css really good overview of
    selecting elements;

    Selecting by tags (affect the relevant html tags - body here-  in the html document):

    body{
      color:red;
      }

    Selecting by class (select all elements who have the class ".class" here)
    .class {
      font-size: 50px;
    }

    Selecting by ID (select all elements with the ID title)
    #title {
      text-align: center;
    }

    Declaration is obv just what you want to do
    Very similar to javascript objects

    Common css properties

    width/height
    display
    margin/padding
    border
    text-align (left, right, center, etc)
    color (color of the text itself...)
    position (how elements positioned)
    font-size

    */
      .center {
        text-align: center;
      }
      ul {
          list-style: none;
          padding: 0;
      }
      /* unordered list elements... by default unordered lists have bullet points.. list-
      style none gets rid of bullet points.. very common practice*/



      img {
          display: inline;
          width: 200px;
          height: 100px;
      }
      #footer {
          width: 100%;
          border-top: solid 2px black;
          background-color: white;
          position: fixed;
          bottom: 0;
      }
      /* */
    </style>
